@using SimpleIdentityServer.Host

@{
    var cardNumberState = ViewData.ModelState["CardNumber"];
    var passwordState = ViewData.ModelState["Password"];
}

@model SimpleIdentityServer.Rfid.Website.ViewModels.LoginOpenIdViewModel

<div class="row">
    <h1>Authenticate</h1>
    <div id="success-status" style="color:green;">Is connected</div>
    <div id="failed-status" style="color:red;">Is not connected</div>
    @Html.ValidationMessage("invalid_credentials")
    <form action="@Url.Action("OpenId")" method="post">
        <input type="hidden" value="@Model.Code" name="Code" />
        <div class="form-group">
            <label class="control-label">Card number</label>
            <input type="text" class="form-control" placeholder="Card number" id="card-number" name="CardNumber" value="@Model.CardNumber" readonly />
            @if (cardNumberState != null && cardNumberState.Errors.Any())
            {
                <span style="color:red;">@string.Join(",", cardNumberState.Errors.Select(e => e.ErrorMessage))</span>
            }
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password" value="@Model.Password" />
            @if (passwordState != null && passwordState.Errors.Any())
            {
                <span style="color:red;">@string.Join(",", passwordState.Errors.Select(e => e.ErrorMessage))</span>
            }
        </div>
        <button type="submit" class="btn btn-primary">Submit</button><input type="button" class="btn btn-default" id="refresh" value="Refresh" />
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#failed-status").hide();
            $("#success-status").hide();
            var rfid = $.connection.rfidHub;
            rfid.client.newCard = function (card) {
                var cardNumber = card.CardNumber;
                $("#card-number").val(cardNumber);
            };
            rfid.client.cardInformation = function (card) {
                var cardNumber = card.CardNumber;
                $("#card-number").val(cardNumber);
            };
            $.connection.hub.start().done(function () {
                $("#success-status").show();
                $("#failed-status").hide();
            });
            $.connection.hub.error(function (error) {
                $("#failed-status").show();
                $("#success-status").hide();
            });
            $("#refresh").on('click', function () {
                rfid.server.sendCardInformation();
            });
        });
    </script>
}