<!DOCTYPE html>
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/output/site.min.css" />
        <!--
        <environment names="">

        </environment>
        -->
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="#">
                        <span class="navbar-brand">@ViewBag.ProductName</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div>
                @RenderSection("PageTitle", false)
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        <script src="~/output/site.min.js"></script>
        @RenderSection("Scripts", required:false)
    </body>
</html>