@using System.Web.Optimization

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/content/css")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" style="position: relative;">
            <div class="navbar-header">
                <a href="#">
                    <span class="navbar-brand">@ViewBag.ProductName</span>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="page-header">
                @RenderSection("PageTitle", true)
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
        
        @Scripts.Render("~/bundles/js")
    </body>
</html>