@using System.Web.Optimization

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/content/css")
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="#">
                        <span class="navbar-brand">@ViewBag.ProductName</span>
                    </a>
                </div>
                @if (User != null && User.Identity != null &&
                        User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Welcome @User.Identity.Name</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Content("~/Authenticate/Logout")">Disconnect</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>

        <div class="container">
            <div>
                @RenderSection("PageTitle", false)
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        
        @Scripts.Render("~/bundles/js")
        @RenderSection("Scripts", required:false)
        <script type="text/javascript">
            $(document).ready(function() {
                $(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            });
        </script>
    </body>
</html>