@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using SimpleIdentityServer.Core.Jwt
@using SimpleIdentityServer.Host.Extensions

@{ 
    var user = await this.GetAuthenticatedUser(SimpleIdentityServer.Startup.Constants.CookieName).ConfigureAwait(false);
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple identity server - @ViewBag.Title</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/css/home.index.css" />
        <link rel="stylesheet" href="~/css/tile.theme.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <!--
        <environment names="">

        </environment>
        -->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="@Url.Content("~/Home")">
                        <span class="navbar-brand">Simple Identity Server</span>
                    </a>
                </div>
                @if (user != null && user.Identity != null && user.Identity.IsAuthenticated)
                {
                    var claimsIdentity = user.Identity as ClaimsIdentity;
                    var userName = "Unknown";
                    if (claimsIdentity != null)
                    {
                        var claimName = claimsIdentity.Claims.FirstOrDefault(c => c.Type == Constants.StandardResourceOwnerClaimNames.Name);
                        if (claimName != null)
                        {
                            userName = claimName.Value;
                        }
                    }
                        
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Welcome @userName</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Content("~/User")">Profile</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/Authenticate/Logout")">Disconnect</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>

        <div class="container">
            <div>
                @RenderSection("PageTitle", false)
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @RenderSection("Scripts", required:false)
        <script type="text/javascript">
            $(document).ready(function() {
                $(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            });
        </script>
    </body>
</html>