@using SimpleIdentityServer.Host

@{
    ViewBag.Title = "Send code";
}

@model  SimpleIdentityServer.Host.ViewModels.CodeViewModel

@section PageTitle
{
    <h1>
        @ViewBag.Translations[SimpleIdentityServer.Core.Constants.StandardTranslationCodes.SendCode]
    </h1>
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("SendCode", "Authenticate", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">@ViewBag.Translations[SimpleIdentityServer.Core.Constants.StandardTranslationCodes.Code]</label>
                @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                @Html.TextBoxFor(i => i.Code, new { @type = "number", @class="form-control" })
                @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@ViewBag.Translations[SimpleIdentityServer.Core.Constants.StandardTranslationCodes.ConfirmCode]</button>
            </div>
        }
    </div>
</div>