@{
    ViewBag.Title = "Home";
}

@using SimpleIdentityServer.Host.Extensions

<div class="row">
    <h1>Dashboard</h1>
    <a href="@Url.Content("~/.well-known/openid-configuration")">
        <section class="col-md-3 tile">
            <div class="header"></div>
            <div class="row clicked">
                <div class="col-md-4 picture">
                    <img src="@Url.Content("~/img/openid.png")" />
                </div>
                <div class="col-md-8 title">
                    <h4>OpenId contract</h4>
                </div>
            </div>
        </section>
    </a>
    @if (ViewBag.IsAuthenticated)
    {
        <a href="@Url.Content("~/User")">
            <section class="col-md-3 tile"> 
                <div class="header"></div>
                <div class="row clicked">
                    <div class="col-md-4 picture">
                        <img src="@Url.Content("~/img/Unknown.png")" />
                    </div>
                    <div class="col-md-8 title">
                        <h4>View profile</h4>
                    </div>
                </div>
            </section>
        </a>
    }
    else
    {
        <a href="@Url.Content("~/Authenticate")">
            <section class="col-md-3 tile">
                <div class="header"></div>
                <div class="row clicked">
                    <div class="col-md-4 picture">
                        <img src="@Url.Content("~/img/Unknown.png")" />
                    </div>
                    <div class="col-md-8 title">
                        <h4>Authenticate</h4>
                    </div>
                </div>
            </section>
        </a>
        <a href="@Url.Content("~/Account/Index")">
            <section class="col-md-3 tile">
                <div class="header"></div>
                <div class="row clicked">
                    <div class="col-md-4 picture">
                        <img src="@Url.Content("~/img/Unknown.png")" />
                    </div>
                    <div class="col-md-8 title">
                        <h4>Create account</h4>
                    </div>
                </div>
            </section>
        </a>
    }
</div>
