@using SimpleIdentityServer.UserManagement.ViewModels

@model List<ConsentViewModel>

@{
    ViewBag.Title = "Consents";
    ViewBag.IsEditDisplayed = false;
    ViewBag.IsConsentDisplayed = true;
    ViewBag.IsIndexDisplayed = false;
    ViewBag.IsProfileDisplayed = false;
}

<!-- Display the consents -->
<div class="tab-pane active" id="consent">
    <h1>Consents</h1>
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            @ViewBag.ErrorMessage
        </div>
    }
    @if (!Model.Any())
    {
        <p>No consent</p>
    }
    else
    {
        var clients = Model.GroupBy(m => m.ClientDisplayName);
        foreach (var client in clients)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    Client : @client.Key
                </div>
                <div class="panel-body">
                    <div>
                        @if (string.IsNullOrWhiteSpace(client.First().LogoUri))
                        {
                            <img src="@Url.Content("~/img/OAuth2.png")" width="150" height="150" />
                        }
                        else
                        {
                            <img src="@Url.Content(client.First().LogoUri)" width="150" height="150" />
                        }
                    </div>
                    <ul class="list-group">
                        @foreach (var consent in client)
                        {
                            <form method="post" action="@Url.Action("Consent", new { @id = consent.Id })">
                                <li class="list-group-item" style="margin-top: 10px;">
                                    <!-- Display scopes -->
                                    <h4>Scopes</h4>
                                    @if (!consent.AllowedScopeDescriptions.Any())
                                    {
                                        <p>No scopes</p>
                                    }
                                    else
                                    {
                                        <ul class="list-group">
                                            @foreach (var scope in consent.AllowedScopeDescriptions)
                                            {
                                                <li class="list-group-item">@scope</li>
                                            }
                                        </ul>
                                    }
                                    <!-- Display claims -->
                                    <h4>Claims</h4>
                                    @if (!consent.AllowedIndividualClaims.Any())
                                    {
                                        <p>No claims</p>
                                    }
                                    else
                                    {
                                        <ul class="list-group">
                                            @foreach (var claim in consent.AllowedIndividualClaims)
                                            {
                                                <li class="list-group-item">@claim</li>
                                            }
                                        </ul>
                                    }

                                    <button type="submit" class="btn btn-primary">Remove</button>
                                </li>
                            </form>
                        }
                    </ul>
                </div>
            </div>
        }
    }
</div>