@{
    ViewBag.Title = "Edit user";
    ViewBag.IsEditDisplayed = true;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = false;
    ViewBag.IsProfileDisplayed = false;
    var errors = new List<string>();
    foreach(var node in ViewData.ModelState)
    {
        foreach(var error in node.Value.Errors)
        {
            errors.Add(error.ErrorMessage);
        }
    }
}

@model SimpleIdentityServer.UserManagement.ViewModels.UpdateResourceOwnerViewModel

<div class="tab-pane active" id="edit-ro">
    <div class="col-md-8 col-md-offset-2">
        @if (Model.IsLocalAccount)
        {
            <h1>
                @ViewBag.Translations["edit_resource_owner"]
            </h1>
        }
        else
        {
            <h1>
                @ViewBag.Translations["create_resource_owner"]
            </h1>
        }

        @if (errors.Count > 0)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }

        @if (ViewBag.IsUpdated)
        {
            <div class="alert alert-success">@ViewBag.Translations["user_is_updated"]</div>
        }

        @if (ViewBag.IsCreated)
        {
            <div class="alert alert-success">@ViewBag.Translations["user_is_created"]</div>
        }

        @using (Html.BeginForm("UpdateCredentials", "User", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">@ViewBag.Translations["credentials"]</div>
                <div class="panel-body">
                    <!-- Login -->
                    <fieldset class="form-group">
                        <label class="control-label">@ViewBag.Translations["login"]</label>
                        <input type="text" class="form-control" value="@Model.Credentials.Login" readonly />
                    </fieldset>
                    <!-- Password -->
                    <fieldset class="form-group">
                        <label class="control-label">@ViewBag.Translations["password"]</label>
                        <input type="password" class="form-control" value="@Model.Credentials.Password" name="Password" placeholder="@ViewBag.Translations["your_password"]" />
                    </fieldset>
                    <!-- Repeat password -->
                    <fieldset class="form-group">
                        <label class="control-label">@ViewBag.Translations["repeat_password"]</label>
                        <input type="password" class="form-control" value="@Model.Credentials.RepeatPassword" name="RepeatPassword" placeholder="@ViewBag.Translations["repeat_password"]" />
                    </fieldset>
                    <!-- Submit -->
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">@ViewBag.Translations["confirm"]</button>
                    </fieldset>
                </div>
            </div>
        }

        @if (Model.IsLocalAccount)
        {
            @using (Html.BeginForm("UpdateClaims", "User", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default">
                    <div class="panel-heading">@ViewBag.Translations["claims"]</div>
                    <div class="panel-body">
                        @foreach (var claim in Model.EditableClaims)
                        {
                            <fieldset class="form-group">
                                <label class="control-label">@claim.Key</label>
                                <input type="text" name="@("[" + claim.Key + "]")" value="@claim.Value" class="form-control" />
                            </fieldset>
                        }
                        @foreach (var notEditableClaim in Model.NotEditableClaims)
                        {
                            <fieldset class="form-group">
                                <label class="control-label">@notEditableClaim.Key</label>
                                <input type="text" value="@notEditableClaim.Value" class="form-control" readonly />
                            </fieldset>
                        }
                        <!-- Submit -->
                        <fieldset class="form-group">
                            <button type="submit" class="btn btn-primary">@ViewBag.Translations["confirm"]</button>
                        </fieldset>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">@ViewBag.Translations["claims"]</div>
                <div class="panel-body">
                    @foreach (var claim in Model.EditableClaims)
                    {
                        <fieldset class="form-group">
                            <label class="control-label">@claim.Key</label>
                            <input type="text" value="@claim.Value" class="form-control" readonly />
                        </fieldset>
                    }
                    @foreach (var notEditableClaim in Model.NotEditableClaims)
                    {
                        <fieldset class="form-group">
                            <label class="control-label">@notEditableClaim.Key</label>
                            <input type="text" value="@notEditableClaim.Value" class="form-control" readonly />
                        </fieldset>
                    }
                </div>
            </div>
        }
    </div>
</div>
